</main>
<footer>Copyright © LAR <%= new Date().getFullYear() %>
</footer>
</body>

</html>

<!--</main>
<footer>
    Copyright @ LAR %= new Date().getFullYear() %>
</footer>
</body>
</html>-->